In [0]:
from pyspark.sql.types import StringType, IntegerType, StructType, StructField
import optimus as op

In [0]:
schema = StructType([
            StructField("city", StringType(), True),
            StructField("country", StringType(), True),
            StructField("population", IntegerType(), True)])

countries = ['Colombia', 'US@A', 'Brazil', 'Spain']
cities = ['Bogotá', 'New York', '   São Paulo   ', '~Madrid']
population = [37800000,19795791,12341418,6489162]

In [0]:
# Dataframe:
df = op.spark.createDataFrame(list(zip(cities, countries, population)), schema=schema)
df.show()

In [0]:
# Instantiation of DataTransformer class:
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Clear accents:
transformer.clear_accents(columns='*')

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

In [0]:
# Instantiation of DataTransformer class:
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Remove special characters:
transformer.remove_special_chars(columns=['city', 'country'])

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

display(dbutils.fs.ls("/FileStore/tables/"))

path,name,size
dbfs:/FileStore/tables/ApartmentMaintenance.json,ApartmentMaintenance.json,733358
dbfs:/FileStore/tables/Apartment_Maintenance__1_-17a3c.csv,Apartment_Maintenance__1_-17a3c.csv,548837
dbfs:/FileStore/tables/Apartment__1_2_json-b3c24.txt,Apartment__1_2_json-b3c24.txt,421697
dbfs:/FileStore/tables/Apartment__1__2-d398f.csv,Apartment__1__2-d398f.csv,279449
dbfs:/FileStore/tables/Building.json,Building.json,193401
dbfs:/FileStore/tables/Building_Mainenance.json,Building_Mainenance.json,717938
dbfs:/FileStore/tables/Building_Maintenance__1_-c86c7.csv,Building_Maintenance__1_-c86c7.csv,562035
dbfs:/FileStore/tables/Building__1_-108aa.csv,Building__1_-108aa.csv,67170
dbfs:/FileStore/tables/Contractor_Table.json,Contractor_Table.json,180883
dbfs:/FileStore/tables/Contractor_Table__1_-6f2cb.csv,Contractor_Table__1_-6f2cb.csv,62970
dbfs:/FileStore/tables/Cozy_Player_1000.csv,Cozy_Player_1000.csv,709920
dbfs:/FileStore/tables/Cozy_Tx_1000.csv,Cozy_Tx_1000.csv,343078
dbfs:/FileStore/tables/FileStore/,FileStore/,0
dbfs:/FileStore/tables/Landlord.json,Landlord.json,219227
dbfs:/FileStore/tables/Landlord__1_-dcd85.csv,Landlord__1_-dcd85.csv,73346
dbfs:/FileStore/tables/Lease.json,Lease.json,127177
dbfs:/FileStore/tables/Lease__1_-547f4.csv,Lease__1_-547f4.csv,36211
dbfs:/FileStore/tables/Payment.json,Payment.json,133683
dbfs:/FileStore/tables/Payment__1_-a06e0.csv,Payment__1_-a06e0.csv,33726
dbfs:/FileStore/tables/Rent__1_-664ec.json,Rent__1_-664ec.json,151643
dbfs:/FileStore/tables/Rent__1_-743d8.csv,Rent__1_-743d8.csv,38691
dbfs:/FileStore/tables/Sample_cozy_player_01.csv,Sample_cozy_player_01.csv,35774
dbfs:/FileStore/tables/Sample_cozy_tx_01.csv,Sample_cozy_tx_01.csv,35774
dbfs:/FileStore/tables/Tenant_1_-5ea45.csv,Tenant_1_-5ea45.csv,85930
dbfs:/FileStore/tables/Tenant__1_-f28c6.json,Tenant__1_-f28c6.json,215879
dbfs:/FileStore/tables/Training.csv,Training.csv,350751
dbfs:/FileStore/tables/apartmentcsv.json,apartmentcsv.json,391678
dbfs:/FileStore/tables/apartmentcsv2.json,apartmentcsv2.json,391672
dbfs:/FileStore/tables/complex.json,complex.json,879
dbfs:/FileStore/tables/convertcsv2.json,convertcsv2.json,391672
dbfs:/FileStore/tables/foo.csv,foo.csv,1026

In [0]:
# Import optimus
import optimus as op
# Instance of Utilities class
tools = op.Utilities()
# Reading df from web
df = tools.read_csv("/FileStore/tables/foo.csv", sep=",", header="true")

In [0]:
# Instantiation of DataTransformer class:
transformer = op.DataFrameTransformer(df)
# Replace NA with 0's
transformer.replace_na(0.0, columns="*")
# Show DF
transformer.show()

In [0]:
# Change Date formats  
# Instantiation of DataTransformer class:
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Tranform string date format:
transformer.date_transform(columns="birth",
                          current_format="yyyy/mm/dd",
                          output_format="dd-MMM-yyyy")

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

In [0]:
# Change Column Names 

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

names = [('firstName', 'First Name')]
# Changing name of columns:
transformer.rename_col(names)

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

In [0]:
# replace strings 'piza', 'Cake' with pizza
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Capital letters:
transformer.lookup('product', "pizza", ['piza', 'Cake'])

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

In [0]:
#move_col(column, ref_col, position)
# Instantiation of DataTransformer class:
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Capital letters:
transformer.move_col('billingId', 'firstName', position='before')

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()

In [0]:
# count_items(col_id, col_search, new_col_feature, search_string)
transformer = op.DataFrameTransformer(df)

# Printing of original dataFrame:
print('Original dataFrame:')
transformer.show()

# Write DF as CSV
transformer.to_csv("test.csv")

# Transformation:
# transformer.count_items(col_id="billingid",col_search="product",new_col_feature="pizza_count",search_string="pizza")

# Printing new dataFrame:
print('New dataFrame:')
transformer.show()